@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./proximanova-regular-webfont.woff2') format('woff2'),
         url('./proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./proxima_nova_thin-webfont.woff2') format('woff2'),
         url('./proxima_nova_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}